/* --------------------- Global et Header -------------------- */

@media screen and (max-width: 1100px) {
    html {
        font-size: 50%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

/* --------------------- Navigation -------------------- */

@media screen and (max-width: 900px) {
    .content {
        flex-direction: column;
    }
    .side-nav {
        display: flex;
        margin: 0;
    }
    .side-navItem:not(:last-of-type) {
        margin: 0;
    }
    .side-navItem {
        flex: 1;
    }
    .side-nav a {
        justify-content: center;
        padding: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .side-nav a {
        flex-direction:  column;
        padding: 1.5rem .5rem;
    }
    .side-navIcon {
        margin-right: 0;
        margin-bottom: 0.7rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}

/* --------------------- Titre Hotel -------------------- */

@media screen and (max-width: 600px) {
    .overviewHeading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem;
    }
}

/* --------------------- Description -------------------- */

@media screen and (max-width: 900px) {
    .detail {
        padding: 3rem;
    }
    .description {
        padding: 2rem;
        margin-right: 3rem;
    }
}

@media screen and (max-width: 680px) {
    .liste01 {
        flex: 0 0 40%;
    }
    .liste01:nth-child(1) {
        margin-right: 5rem;
    }
    .liste01:nth-child(3) {
        margin-right: 5rem;
    }
    .liste01:nth-child(5) {
        margin-right: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .detail {
        flex-direction: column;
    }
    .description {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 1760px) {
    .reserver {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 680px) {
    .reserver {
        font-size: 1.6rem;
        flex: 0 0 65%;
    }
}

/* --------------------- Photos -------------------- */

@media screen and (max-width: 600px) {
    .gallery {
        flex-direction: row;
    }
    .galleryPhotos:not(:nth-child(1) {
        margin-top: 0;
    })
}
